# MySQL monitoring configuration for Zabbix Agent 2

# Primary MySQL instance (local)
Plugins.Mysql.Default.Uri=tcp://{{ zbx_localhost }}:{{ zbx_mysql_port }}
Plugins.Mysql.Default.User={{ zbx_monitor_user }}
Plugins.Mysql.Default.Password={{ zbx_monitor_user_pass }}